" ============================================================================
"   PLUGINS
" We can source other vimrc for modularity using "source <filename>"
" =============================================================================
call plug#begin()

    " ---------------------- Edit enhancmement ---------------
    Plug 'tpope/vim-commentary'
    Plug 'tpope/vim-repeat'               " Adds repeat thorugh . to other packages

    " ------------------------- Search -------------------------- 
    Plug 'romainl/vim-cool'             " Disables highlight when search is done
    Plug 'haya14busa/incsearch.vim'     " Better incremental search
    Plug 'junegunn/fzf', { 'dir': '~/.fzf', 'do': './install --all' }  " FZF plugin, makes Ctrl-P unnecessary
    Plug 'junegunn/fzf.vim'

    " -------------------- GUI Colors ----------------------
    Plug 'powerline/powerline'
    Plug 'ap/vim-css-color'
    
    " --------------------  GUI Functionality ------------------
    Plug 'preservim/nerdtree'

    " ----------- Programming language support -----------------
    Plug 'hashivim/vim-terraform'
    Plug 'juliosueiras/vim-terraform-completion'



" if has('nvim-0.5')
"    Plug 'phaazon/hop.nvim'

 
call plug#end()


" =========== EXT PLUGIN SOURCES ==================
source ~/.vim/plugins.vimrc/NERDTree.vimrc    " NERDTree customizations
source ~/.vim/plugins.vimrc/FZF.vimrc
